@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

footer {
  background: "",
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
}


table {
  border: 5px solid;
  border-color: #f76c6c;
  border-style: inset;
  border-radius: 1rem;
  margin: auto;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  background-color: lightgrey;
}


tr {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

th {
  border: 1px solid darkgrey;
  margin: 0.4rem;
  background-color: bisque;
  border-radius: 1rem;
}

.deleteButton {
  cursor: pointer;
  display: inline-flex;
  align-self: center;
  position: relative;
  color: #f76c6c;
  float: right;
}

footer {
  margin-top: 5.7em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}